[Unit]
Description=RFID Reader Python Script
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/raspi/python/RFID/rfid_reader_asyncio_jwt.py
WorkingDirectory=/home/raspi/python/RFID
StandardOutput=inherit
StandardError=inherit
Restart=always
User=raspi

[Install]
WantedBy=multi-user.target
