[Unit]
Description=RFID Reader Python Script
After=network.target

[Service]
User=raspi
WorkingDirectory=/home/raspi/python/RFID
ExecStart=/home/raspi/python/RFID/venv/bin/python /home/raspi/python/RFID/rfid_reader_asyncio_jwt.py
Environment="PATH=/home/raspi/python/RFID/venv/bin"
Restart=always
RestartSec=5
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
